html.embed {
    margin: 0;
    padding: 0;
    background: white;
    overflow: auto;
}
html.embed body {
    margin: 0;
    padding: 0;
    max-width: none;

    height: 100vh;
    display: flex;
    flex-direction: column
}

.embed-header,
.embed-footer {
    background: #eee;
    padding: 1em;
    text-align: right;
}

.embed-main {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.embed-page,
.embed-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    transition: 0.5s right;
    background: white;

    padding: 1em;
    box-sizing: border-box;
}
.embed-page.is-hidden,
.embed-modal.is-hidden {
    right: -100%;
}
.embed-modal {
    width: 95%;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}
